
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.main-container {
  margin: 0;
}

#table-body {
  background: rgb(209, 209, 209);
}

.result {
  background-color: rgb(163, 163, 163);
  color: white;
  text-align: right;
  width: 100%;
  border: 0;
  outline: none;
  padding: 15px 10px;
}

.result-container {
  min-height: 20px;
}

table {
  border-spacing: 0;
}

tr {
  width: 100%;
}

.result::placeholder {
  color: white;
  font-size: 17px;
  padding: 5px 5px;
}

td > button {
  border: 0;
  width: 100%;
  padding: 15px 40px;
  text-align: center;
}

.operators {
  background: rgb(255, 136, 1);
}
